/*-- scss:rules --*/
@include media-breakpoint-up(md) {
  #dashboard-collapse {
    justify-content: flex-end;

    .navbar-nav.me-auto {
      margin-right: unset !important;
    }
  }

  .quarto-dashboard .navbar .navbar-nav .active {
    box-shadow: 0px -2px 0px 0px inset;
    background-color: unset;
  }
}
